@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hikes Across Oregon</h1>
    <p>A simple web application to view hikes across Oregon.</p>
    <p>Head over to the Hikes tab to view, add, edit or delete a Hike</p>
    <img src="~/images/oregonmap.jpg" />
</div>



